* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../IMG/fondo.jpg);
    background-size: cover;
    font-family: 'Avenir', sans-serif;
    color: rgb(237, 240, 218);
}

header {
    text-align: center;
    margin-left: -3%;
}

header h1 {
    margin-top: 2%;
    color: rgb(227, 210, 111);
    font-family: 'Signa', sans-serif;
    font-size: 10vh;
    text-shadow: 2px 2px 4px rgb(0, 0, 7);
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 2%;
}

#fondoMarcadores {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

main div h2 {
    background-color: rgb(0, 0, 7);
    text-align: center;
    padding: 2%;
    font-family: 'Airborne', sans-serif;
    padding-top: 3%;
}

#contenedorMarcadores {
    position: absolute;
    background-color: rgb(0, 0, 7);
    width: 100%;
    height: 100vh;
    overflow-y: auto;

}

#contenedorMarcadores {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    font-family: 'eurostyle', sans-serif;

}

#contenedorMarcadores div {
    margin-left: 3%;
    font-size: 2vw;
    margin-top: 3%;
}

#gridContenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#contenedorMarcadores p {
    color: rgb(237, 240, 218);
    font-size: 1.2rem;
}

#contenedorMarcadores::-webkit-scrollbar {
    width: 8px;
}

#contenedorMarcadores::-webkit-scrollbar-track {
    background: rgb(0, 0, 7);
}

#contenedorMarcadores::-webkit-scrollbar-thumb {
    background-color: rgb(149, 1, 37);
    border-radius: 4px;
    border: 2px solid rgb(0, 0, 7);
}

#contenedorMarcadores::-webkit-scrollbar-thumb:hover {
    background-color: rgb(50, 1, 196);
}


#contenedorCasillas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    width: 40vw;
    height: 70vh;
    margin: 0 auto;
}

.casilla {
    background-color: rgb(227, 210, 111);
    color: rgb(0, 0, 7);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.casilla:hover {
    opacity: 0.7;
    background-color: rgb(237, 240, 218);
    color: rgb(149, 1, 37);
}

#contenedorBotones {
    margin-top: 30px;
    text-align: center;
}

#contenedorBotones h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(237, 240, 218);
}

#contenedorBotones div {
    text-align: left;
    display: grid;
}

#contenedorBotones button {
    font-family: 'Airborne', sans-serif;
    background-color: rgb(50, 1, 196);
    color: rgb(237, 240, 218);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    margin-left: 10%;
}

#contenedorBotones button:hover {
    background-color: rgb(149, 1, 37);
}